/* --- 1. Variables & Root --- */
:root {
    --primary-color: #444;
    --bg-color: #050505;
    --text-color: #f4f7f6;
}

/* --- 2. Base Styles & Global Layout --- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

.container {
    max-width: 800px;
    width: 90%;
    background: #151515;
    padding: 40px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.top-container {
    margin-top: 15px;
}

/* --- 3. Navigation --- */
nav {
    margin: 25px auto 0;
    margin-top: 25px;
    margin-bottom: 2px;
    font-weight: 600;
    padding: 5px 0;
    max-width: 800px;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0;
    padding: 10px 15px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s, transform 0.3s;
    gap: 5px;
}

nav a:hover {
    background-color: #222;
    opacity: 0.8;
    transform: scale(1.1);
}

.current-page {
    background-color: #151515;
    color: #fff;
}